:root {
  --cloud: #f4f4fd;
  --orange: #ffb648;
  --iris: #4d5ae5;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --navy-blue: #2e2f42;
  --navy-blue-modal-025: rgba(46, 47, 66, 0.25);
  --navy-blue-modal-06: rgba(46, 47, 66, 0.6);
  --ocean: #404bbf;
  --white: #fff;
  --slate: #434455;
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background: var(--white);
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  /* min-width: 320px; */
  min-width: 320px;
  max-width: 428px;
  padding: 10px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.placement-in-a-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.section {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
=========================================
      Header
=========================================
*/
.header-container {
  background-color: var(--navy-blue);
}

.header-content {
  padding: 10px 0;
}
.text-box {
  background-color: var(--slate);
}

.header-box {
  position: sticky;
  top: -1px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  margin: 0 auto;
}

.ul-box,
.nav-box {
  display: flex;
  gap: 20px;
}

.nav-box {
  justify-content: space-between;
}

.nav-box-mobile {
  display: none;
}

.link-icon-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-header:hover,
.link-icon-header:focus {
  background-color: var(--green);
  cursor: pointer;
}
/**
  |============================
  |   Main
  |============================
*/
main {
  flex-grow: 1;
  background-color: var(--navy-blue);
}

.title-background-box {
  width: 100vw;
  margin: 0 auto;
  padding: 70px 0;
  background: var(--navy-blue);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/1800/WH307-1800.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 144dpi) {
  .title-background-box {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../img/1800/WH307-1800@1.5x.jpg");
  }
}

@media (min-resolution: 192dpi) {
  .title-background-box {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../img/1800/WH307-1800@2x.jpg");
  }
}

@media (min-resolution: 288dpi) {
  .title-background-box {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../img/1800/WH307-1800@3x.jpg");
  }
}

.title-box {
  font-size: 22px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--cloud);
}

.title-oringe {
  color: var(--orange);
}

.title-date {
  padding-top: 20px;
  font-size: 14px;
  text-align: center;
  color: var(--cloud);
}

/**
  |============================
  |   Gallery 
  |============================
*/
.gallery-button {
  display: block;
  padding: 8px 16px;
  background-color: var(--navy-blue);
  color: var(--white);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-button:hover,
.gallery-button:focus {
  background-color: var(--green);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-box {
  margin-top: 40px;
}

.link-download {
  fill: var(--cloud);
}

.signature-download {
  color: var(--navy-blue);
}

.signature-download:hover,
.signature-download:focus {
  color: var(--cloud);
  cursor: pointer;
}

/**
  |============================
  |   Footer
  |============================
*/
.footer-container {
  padding: 30px 0;
  background-color: var(--navy-blue);
}

.contacts_container {
  padding: 40px 0;
}

.footer-contact-title {
  font-size: 22px;
  color: var(--white);
}

.footer-button-box {
  justify-content: space-between;
  padding-top: 20px;
  row-gap: 20px;
}

.footer-contact-box {
  gap: 20px;
}

.link-icon-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  color: var(--ocean);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-footer:hover,
.link-icon-footer:focus {
  background-color: var(--green);
  cursor: pointer;
  color: var(--orange);
}

.footer-contacts_type {
  width: 35px;
  height: 35px;
  /* border-radius: 50%;
  background-color: var(--cloud); */
}

.link-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--navy-blue);
  fill: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-box:hover,
.link-icon-box:focus {
  background-color: var(--green);
  cursor: pointer;
}

.social-icon {
  fill: var(--cloud);
}

.download-button {
  display: block;
  padding: 8px 16px;
  background-color: var(--navy-blue);
  color: var(--white);
  border-radius: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.download-button:hover,
.download-button:focus {
  background-color: var(--green);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-icon-download {
  fill: var(--cloud);
}

/**
  |============================
  | Adaptation
  |============================
*/

@media (max-width: 767px) {
  .gallery-img {
    text-align: center;
  }
}

@media (min-width: 428px) {
}

/**
  |============================
  | Tablet version
  |============================
*/
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* Hero */
  .title-background-box {
    padding: 140px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/1800/WH307-tablet.jpg);
  }

  @media (min-resolution: 192dpi) {
    .title-background-box {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../img/1800/WH307-tablet\ @2x.jpg");
    }
  }

  @media (min-resolution: 288dpi) {
    .title-background-box {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../img/1800/WH307-tablet\ @3x.jpg");
    }
  }

  .title-box {
    font-size: 26px;
  }
}

/**
  |============================
  | Desktop version
  |============================
*/
@media (min-width: 1158px) {
  .container,
  .customers-container {
    max-width: 1158px;
    padding: 0 15px;
  }
  /* Hero */
  .title-background-box {
    padding: 200px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/1800/WH307-1800.jpg);
  }

  @media (min-resolution: 192dpi) {
    .title-background-box {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../img/1800/WH307-desktop@2x.jpg");
    }
  }

  @media (min-resolution: 288dpi) {
    .title-background-box {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero-images/people-office\ 1@3x.jpg");
    }
  }

  .title-box {
    font-size: 36px;
  }
}
